
{{'title = ' + title}}

<br /><br />
<div style="width:350px;"><hr /></div> 
{{"\{\{\}\} or []"}} - One way binding, from component to view/DOM<br />

<br />
String interpolation - {{"\{\{var\}\}"}}:

<div>{{varA}}</div>

<br />
Property binding - [prop] = "var": 
<div [textContent] = "varA"></div>

<div style="width:350px;"><hr /></div>

() - One way binding, from view to component, ex:event <br />
<button #elRef (click) = "clickHandler($event,elRef)">click</button>

<div style="width:350px;"><hr /></div>

{{"\[\(ngModel\)\] = var"}}- Two way binding<br /><br />

Require: import FormsModule from '@angular/forms';
<br /><br />
<input [(ngModel)] = "textValue" type="text" /> {{textValue}}

<div style="width:350px;"><hr /></div>



<!-- ____________________________________________________________________ -->

<!-- <td [attr.colspan] = "colspan">td<td> -->

<div [class.someClass] = "isActive">class binding</div>
<div [style.color] = "isActive ? 'blue':'black'">style binding</div>

<div [ngClass]="{
    'active': true,
    'someClass': true
}">class binding 2</div>

<div [ngStyle]="{
    'color': !isActive ? 'blue':'red',
    'textDecoration': 'underline'
}">style binding 2</div>

<!-- ____________________________________________________________________ -->
<!-- ngIf,hidden, ng-template, switch  -->
<br /><hr /><br />

<div *ngIf = "1==1"> ngIf content</div>
<div *ngIf = "1==0"> ngIf content2: onFalse - not added to the DOM</div>

<div [hidden] = "false">hidden content</div>
<div [hidden] = "true">hidden content2: onHidden - added to the DOM</div>

<div *ngIf = "false;else testTemplate">test</div>
<ng-template #testTemplate>testTemplate, hidden by default</ng-template>

<!-- ngswitch -->
<br />inputRef: <input #inputRef (keyup) = "true" />
<div [ngSwitch] = "inputRef.value">
    <div *ngSwitchCase = "'a'">aaa</div>
    <div *ngSwitchCase = "'b'">bbb</div>
    <ng-template [ngSwitchCase] = "'c'">ccc</ng-template>
    <div *ngSwitchDefault>ngSwitchDefault</div> 
</div>